<div class="seller-auth">
    <div *ngIf="!showLoginForm" class="signup">
        <h1>Seller Sign-up</h1>
        <form #SellerSignUp="ngForm" (ngSubmit)="signUp(SellerSignUp.value)" class=common-form>
            <input class=form-input type="text" ngModel name="name" placeholder="Enter Name">
            <input class=form-input type="password" ngModel name="password" placeholder="Enter Password">
            <input class=form-input type="text" ngModel name="email" placeholder="Enter Email">
            <button class=form-button>Sign-up</button>
            <a class="auth-toggle-link" (click)="openLogIn()">Already have account? Click here to log in</a>
        </form>
    </div>



    <!--********** Seller Login*************** -->


    <div *ngIf="showLoginForm" class="logIn">
        <h1>Seller Log-In</h1>
        <p class="login-error">{{userNotFoundError}}</p>
        <form #SellerLogIn="ngForm" (ngSubmit)="logIn(SellerLogIn.value)" class=common-form>
            <input class=form-input type="text" ngModel name="email" placeholder="Enter Email">
            <input class=form-input type="password" ngModel name="password" placeholder="Enter Password">

            <button class=form-button>Log In</button>
            <a class="auth-toggle-link" (click)="openSignUp()">Dont have an account? Click here to Sign-up</a>
        </form>
    </div>

</div>